{{template "header"}}
<body>
<h3>Customer: {{.Email}}</h3>
{{ if .SubscriberStatus }}
<h4>Status: Subscribed</h4>
<body>
<form action="/cancel" method="post">
<input type="submit" value="Cancel subscription">
</form>

{{ else }}

<h4>Status: UNSUBSCRIBED</h4>

<p>If you subscribed under a different email address to {{.Email}}, please let
us know, so we can associate the billing email with your user email.</p>

<script src="https://js.stripe.com/v3"></script>
<button id="checkout-button">Subscribe</button>
<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_test_J9o1nZV3hyuto56DCj9zbOoU', {
    betas: ['checkout_beta_4']
  });

  var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    stripe.redirectToCheckout({
      items: [{plan: 'plan_DkkuE9Mw78AS5u', quantity: 1}],
      successUrl: 'https://sub.dev.unee-t.com/success',
      cancelUrl: 'https://sub.dev.unee-t.com',
    })
    .then(function (result) {
      if (result.error) {
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

{{ end }}
<a href="/logout"><button>Logout</button></a>

{{template "footer"}}
